<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Producto</th>
                <th scope="col">¿Que hará?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ nombre }}</td>
                <td> uppercase </td>
                <td>{{ nombre | uppercase }} </td>
                <td>Pasar a mayúsculas la variable </td>
            </tr>
            <tr>
                <td> {{ nombre }}</td>
                <td> lowercase </td>
                <td>{{ nombre | lowercase }} </td>
                <td>Pasar a minúsculas la variable </td>

            </tr>
            <tr>
                <td> {{ nombre }}</td>
                <td> slice:3 </td>
                <td>{{ nombre | slice:3 }} </td>
                <td>Elimina las primeras n posiciones de la variable</td>
            </tr>
            <tr>
                <td> {{ nombre }}</td>
                <td> slice:0:3 </td>
                <td>{{ nombre | slice:0:3 }} </td>
                <td>Elimina desde la posición 0 hasta la 3</td>
            </tr>
            <tr>
                <td> {{ num }}</td>
                <td> slice:1:5 </td>
                <td>{{num | slice:1:5}}</td>
                <td>Elimina desde la posición 1 hasta la 5</td>
            </tr>
            <tr>
                <td> {{ PI }}</td>
                <td> number '3.0-0' </td>
                <td>{{PI | number:'3.0-0'}}</td>
                <td>Formatea la variable para poner los numeros del tamaño que necesitas incluyendo los decimales</td>
            </tr>
            <tr>
                <td> {{ PI }}</td>
                <td> number '1.0-2'</td>
                <td>{{PI | number:'1.0-2'}}</td>
                <td>Formatea la variable para poner los numeros del tamaño que necesitas incluyendo los decimales</td>
            </tr>
            <tr>
                <td> {{ a }}</td>
                <td>percent</td>
                <td>{{a | percent}}</td>
                <td>Pasa un número a porcentage</td>
            </tr>
            <tr>
                <td> {{ a }}</td>
                <td>percent:'2.2-2'</td>
                <td>{{a | percent:'2.2-2'}}</td>
                <td>Pasa un número a porcentage 2 enteros y minimo 2 decimales hasta 2 decimales</td>
            </tr>
            <tr>
                <td> {{ salario }}</td>
                <td>currency</td>
                <td>{{salario | currency}}</td>
                <td>Se utiliza para monedas</td>
            </tr>
            <tr>
                <td> {{ salario }}</td>
                <td>currency</td>
                <td>{{salario | currency:'EUR'}}</td>
                <td>Pasar a Euros</td>
            </tr>
            <tr>
                <td> {{ salario }}</td>
                <td>currency</td>
                <td>{{salario | currency:'EUR':true:'4.0-0'}}</td>
                <td>Pasar a Euros</td>
            </tr>

            <tr>
                <td> {{ salario }}</td>
                <td>currency</td>
                <td>{{salario | currency:'EUR':false}}</td>
                <td>Pasar a Euros</td>
            </tr>

            <tr>
                <td> {{ salario }}</td>
                <td>number:'.2-2'</td>
                <td>{{salario | number:'.2-2'}} €</td>
                <td>Pasar a Euros</td>
            </tr>

            <tr>
                <td> {{ valorDePromesa }}</td>
                <td> async</td>
                <td>{{valorDePromesa | async}}</td>
                <td>Devuelve el resultado de la promesa</td>
            </tr>

            <tr>
                <td> {{ fecha }}</td>
                <td> date</td>
                <td>{{fecha | date}}</td>
                <td>Devuelve la fecha en formato por defecto</td>
            </tr>

            <tr>
                <td> {{ fecha }}</td>
                <td> date:'medium'</td>
                <td>{{fecha | date:'medium'}}</td>
                <td>Devuelve la fecha en formato medium</td>
            </tr>

            <tr>
                <td> {{ fecha }}</td>
                <td> date:'MMMM - dd'</td>
                <td>{{fecha | date:'MMMM - d'}}</td>
                <td>Devuelve la fecha en formato personalizado</td>
            </tr>

            <tr>
                <td> {{ nombreCompleto }}</td>
                <td> capitalizado</td>
                <td>{{ nombreCompleto | capitalizado }}</td>
                <td>Pipe Personalizado</td>
            </tr>
            <tr>
                <td> {{ nombreCompleto }}</td>
                <td> capitalizado</td>
                <td>{{ nombreCompleto | capitalizado:false }}</td>
                <td>Pipe Personalizado</td>
            </tr>
            <tr>
                <td>
                    {{nombre}}
                </td>
                <td>
                    ocultar: {{ activar }}
                    <br>
                    <button (click)="activar = !activar" type="button" class="btn btn-outline-primary">
                    Activar/Desactivar
                    </button>
                </td>
                <td>{{ nombre | password:activar }} </td>
                <td></td>
            </tr>

        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6">
            <h3>Slice</h3>
            <ul>
                <li *ngFor="let item of num | slice:5:20"> {{item}} </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Json PIPE</h4>
            <pre>
          {{ json | json }}
        </pre>
        </div>
        <div class="row">
            <iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>






</div>